.Indicator {
    max-width: 1080px;
    margin: auto;
    padding: 25px 0px;
}

.Indicator p {
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    text-align: center;
    color: tomato;
}

.Flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Flex > div {
    margin: 10px;
    padding: 15px 7px;
    width: 250px;
    border: 2px solid salmon;
    box-shadow: 9px 7px 2px #eee;
}

.Flex > div:hover {
    box-shadow: 9px 7px 2px tan;
}

.Social p, .Testi p, .Awards p {
    font-weight: bold;
    font-size: 1.2em;
    color: salmon;
    text-align: center;
}

.Social span {
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
}

.Social span > a {
    text-decoration: none;
    color: tomato;
    cursor: pointer;
}

.Social span > a:hover {
    color: salmon;
    text-decoration: underline;
}

.Testi > div > span:first-child {
    color: tomato;
    font-weight: bold;
}

.Testi > div > span:nth-child(2) {
    color: gold;
    font-weight: bold;
    font-style: normal;
}

.Testi > div > span {
    display: block;
    font-style: italic;
    color: tomato;
    margin-bottom: 3px;
    margin-left: 10px;
}

.Awards span {
    text-align: center;
    display: block;
}

.Awards > span:first-child {
    color: gold;
    font-weight: bold;
}

.Awards span:nth-child(2) {
    color: gold;
    font-weight: bold;
}

.Awards span:nth-child(3) {
    color: tomato;
}