.Benefit {
    max-width: 1080px;
    margin: auto;
}

.Benefit p {
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    text-align: center;
}

.Flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Flex > div {
    background-color: lightsteelblue;
    margin: 10px;
    text-align: center;
    width: 300px;
    padding: 15px 7px;
    border: 2px solid #eee;
    box-shadow: 0px 2px 2px #eee;
    color: white;
}

.Flex > div:hover {
    border: 2px solid lightskyblue;
    color: lightskyblue;
    background: lightslategray;
}