.Title {
    text-align: center;
    background-image: url(../../../assets/water.jpg);
    background-position: center center;
    padding: 250px 0px;
    max-width: 100%;
    margin: auto;
}

.Title h1 {
    color: dodgerblue;
    text-shadow: 3px 3px 3px darkgrey;
    font-weight: bold;
}

.Title h2 {
    color: dodgerblue;
    text-shadow: 3px 3px 3px darkgrey;
}