.Header {
    background: salmon;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    z-index: 5;
    padding: 10px 0px;
    box-shadow: 2px 1px 20px 0px grey;
}
.Header img {
    max-width: 100px;
    margin-left: 15px;
}

.WrapHeader {
    width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.WrapHeader div, .Menu {
    display: flex;
    flex-flow: row wrap;
}

.Menu span {
    padding: 10px;
    margin: 0px 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.Menu span:hover {
    color: tomato;
}

.WrapHeader nav span:hover {
    color: tomato;
}

.Hamburger {
    display: none;
}

@media screen and (max-width: 1024px) {

    .Menu span {
        display: none;
    }

    .WrapHeader label {
        display: flex;
        margin-right: 15px;
    }

    .WrapHeader {
        width: 100%;
    }

    .Header img {
        max-width: 100px;
        margin-left: 15px;
    }

    .Hamburger {
        display: flex;
        cursor: pointer;
        font-size: 26px;
        color: white;
        margin-right: 15px;
    }
  }